.satu {
    font-family: cooper #04364A;
    text-align: center;
}

.deskripsi {
    font-size: 40px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #363062 ;
}
.cerita {
    font-size: 40px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #363062 ;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom:  20px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom:  20px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom:  20px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom:  20px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom:  20px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom:  20px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom:  20px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom:  20px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom:  20px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 40px;
    margin-bottom:  20px;
    color: #363062;
    width: 100%;
    line-height: 50px;
}